.back{
    background-color:#222831;
    
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    background-color:#393E46;
    line-height: 80px;
}

.logo{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: #EEEEEE;
    letter-spacing: 3px;
    cursor: pointer;
}
b{
    font-size: 40px;
    color: #00ADB5;
}
.navItems{
    display: flex;
}
.navItems li{
list-style: none;
margin: 0 15px;
}
.navItems li a{
    font-size: 20px;
    color: #00ADB5;
    letter-spacing: 3px;
    text-decoration: none;
}
.navItems li:hover a{
    color: #EEEEEE;
}
.p1{
    color: #EEEEEE;
    font-weight: 400;
}
.image-hover{
    box-shadow: 0 0 20px 2px rgba(0, 0, 0,.1);
    transition: 1s;
}
.image-hover:hover{
    transform: scale(1.3);
    z-index: 5;
}