
  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@400;600;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;

}
body{
   /* overflow: hidden;*/
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:#393E46 ;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    background-color:#222831;
    line-height: 80px;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: #EEEEEE;
    letter-spacing: 3px;
    cursor: pointer;
}
b{
    font-size: 40px;
    color: #00ADB5;
}
.navItems{
    display: flex;
}
.navItems li{
list-style: none;
margin: 0 15px;
}
.navItems li a{
    font-size: 20px;
    color: #00ADB5;
    letter-spacing: 3px;
    text-decoration: none;
}
.navItems li:hover a{
    color: #EEEEEE;
}
.wrap{
    display: flex;
    width: 100%;
    height: calc(100vh-80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.cols{
    width: 50%;

}
.cols0{
    width: 60%;
    z-index: 5;
}
.topline{
    display: flex;
    position: relative;
    font-size: 45px;
    letter-spacing: 5px;
    color: #00ADB5;
}
h1{
    display: block;
    font-size: 70px;
    font-weight: 900;
    color: #D4E2D4;

}
.multi{
    color: #00ADB5;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 25px;
    color: #D4E2D4;

}
.btns{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    color: #EEEEEE;
    background-color: #222831;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 4);
}
button:hover{
    background-color: #00ADB5;
}
.image{
 position: relative;
 width: 100px;
 height: 550px;
}
.image img{
    position: relative;
    height: 50%;
    width: calc(130%-80px);
    top: 90px;
    right:9px;
    animation: animateUser 4s linear infinite;
}
@keyframes animateUser{
    50%{
        right: 30px;
        top : 80px;
    }
}